[2017-07-27 16:57] tpeczek opened #1 "Add capabality of sending events to specific clients"
Proposed scope of changes:
- [x] Expose `ClientId` property of type `Guid` on `IServerSentEventsClient`
- [x] Expose `User` property of type `ClaimsPrincipal` on `IServerSentEventsClient`
- [x] Expose `GetClients()` method on `IServerSentEventsService`/`ServerSentEventsService`
- [x] Expose `GetClient(Guid clientId)` method on `IServerSentEventsService`/`ServerSentEventsService`
- [x] Protect `Sen

[2017-07-27 19:56] tpeczek opened #2 "Create documentation website"

[2017-07-30 20:59] #1 closed

[2017-08-03 19:11] tpeczek opened #3 "Events not reaching client when Response Compression Middleware is present in pipeline"

[2017-08-03 19:14] #3 closed

[2017-08-06 06:35] tpeczek opened #4 "Feedback"
This issue is for general feedback regarding this project.

[2017-08-28 13:33] refactor2 opened #5 "How to send messages to specific clients?"
how can i sent messages to some clients not  all connected clients？

[2017-08-28 18:12] tpeczek commented on #5
The `IServerSentEventsService` exposes `GetClients()` method which will return list of currently connected clients. Every client (represented by `IServerSentEventsClient`) exposes `User` property and `SendEventAsync` method.

[2017-08-29 07:25] refactor2 commented on #5
if use nginx to load balance,  the messages will not sent all clients?
`private readonly ConcurrentDictionary<Guid, ServerSentEventsClient> _clients = new ConcurrentDictionary<Guid, ServerSentEventsClient>();`

[2017-08-29 18:59] tpeczek commented on #5
The core aspect of Server Sent Events is persistent connection. In load balancing scenario this connection is being made to a specific instance behind the load balancer and only this instance can send messages to client represented by that connection. If you want to send an update generated in specific instance to clients connected to all instances you need a way for communicating that update acro

[2017-08-30 14:03] refactor2 commented on #5
Thanks you very mush
Can I send messages into Redis publish channels,then use `IServerSentEventsService` subscribe the channels,and then use `SendEventAsync` method send to all connected clients  in  the load balancing instances?

[2017-08-30 15:37] tpeczek commented on #5
Yes, that is the general idea.

[2017-08-31 02:09] refactor2 commented on #5
ok,thanks

[2017-08-31 02:09] #5 closed

[2017-09-30 18:11] #2 closed

[2017-10-08 00:00] SteveV0189 opened #6 "Events are one behind when calling SendEvent"
Hey there, thanks for the library.

I'm having trouble getting the events to send exactly when I call them. If I send an event with data "x", and then send a second even with data "y", the first event will only be received when the second event is called. The second event will only then be received when the third event is called, _or_ when the request closes.

Any ideas on why this could be occurr

[2017-10-08 07:54] tpeczek commented on #6
@SteveV0189 Can the issue be reproduced in my demo project as well?

[2017-10-08 07:55] svengeance commented on #6
No, unfortunately the demo project works wonderfully. I think I've got it though -- sit tight I'll have a response within a few minutes,

[2017-10-08 07:58] svengeance commented on #6
And I've got it. Of all the damn things -- it was the response compression. I hadn't originally included it in mine. It's not mentioned anywhere on your Git page nor Getting Started (https://tpeczek.github.io/Lib.AspNetCore.ServerSentEvents/articles/getting-started.html), and the only reason I found out about it is by looking through the demo project.

Now that it's been narrowed down -- why exact

[2017-10-08 09:07] tpeczek commented on #6
The response compression is included in demo project because previously there was an issue for SSE not working with it in place (#3). It is not mentioned anywhere because it shouldn't be required - this is a bug.

[2017-10-08 09:09] tpeczek commented on #6
@SteveV0189 Thank you for figuring this one out.

[2017-10-08 16:55] tpeczek commented on #6
@SteveV0189 I have one more question regarding your setup. I'm not able to reproduce the use only in case of Kestrel running behind IIS. If I use Kestrel only it works as expected. What server configuration are you using?

[2017-10-08 18:27] svengeance commented on #6
I'm using IIS Express locally and nginx in production. I haven't tested the Linux box yet though.

[2017-10-08 18:38] tpeczek commented on #6
@SteveV0189 Can you check what happens if you go for Kestrel only locally? All my research indicate that issue occurs only if there is ASP.NET Core Module in place.

[2017-10-08 19:28] svengeance commented on #6
I replaced my Program.cs#Main with the old NetCore1.0 build process of

[code]

Eliminating the module results in the same behavior, however.

[2017-10-08 19:51] svengeance commented on #6
I've also just verified that this is also the case with your demo project. Using the builder without any sorts of IIS modules results in the same behavior as if the modules existed. The only factor that affects whether the events lag or not is the compression.

[2017-10-08 20:03] tpeczek commented on #6
@SteveV0189 Which launch configuration are you using in case of demo project? I'm able to reproduce only when the launch configuration is "IIS Express", not when it is "Demo.AspNetCore.ServerSentEvents (5000)" or "Demo.AspNetCore.ServerSentEvents (7000)". I've also noticed that when configuration is "IIS Express" the browser still receivers the content with GZip compression despite Response Compre

[2017-10-08 20:14] svengeance commented on #6
@tpeczek I think we're differing a bit here. I have the app [configured as such](https://shifty.site/jh5ey), and it still exhibits the same behavior.

Here is a video demonstrating the behavior -- so we're both clear. https://shifty.site/8x8iH
This was created using the above config, WITHOUT response compression.

[2017-10-08 20:17] tpeczek commented on #6
@SteveV0189 I see. I will go further with IIS path as I see something there and then get back to no IIS scenario to see if I can repro something. Thanks for the help.

[2017-10-08 20:19] svengeance commented on #6
@tpeczek My apologies -- I had the profile selected but was not not running it with the selected profile and was always using IIS Express.

So yes, we are on the same page at least! Without IIS Express the events work as expected without compression.

[2017-10-08 20:22] tpeczek commented on #6
@SteveV0189 This is great. Also I believe how I can fix that (prevent IIS or any other proxy for adding its own compression). Need some time to play with it.

[2017-10-08 20:26] svengeance commented on #6
If you could do that it might simplify my deployment to nginx; I anticipate having to tell it to bugger off when messing with compression and/or headers.

Cheers mate, thanks for the help.

[2017-10-08 20:57] #6 closed

[2017-10-08 21:21] tpeczek commented on #6
@SteveV0189 I did what I could. It certainly works for IIS and potentially should work for nginx (but might depend on configuration). It's late so I will push to NuGet tomorrow, please feel free to reach out if you continue to have further issues.

[2017-10-09 07:45] tpeczek opened #7 "Optimize Server​Sent​Events​Service.SendEventAsync and Server​Sent​Events​Service.ChangeReconnectIntervalAsync"
Optimize `Server​Sent​Events​Service.SendEventAsync` and `Server​Sent​Events​Service.ChangeReconnectIntervalAsync` so the event payload is contructed once and only single buffer is allocated instead of building and allocating for every connected client.

[2017-10-30 17:40] #7 closed

[2017-11-08 22:50] hvolmer opened #8 "Notify when new client"
Question: I have custom SSE services running, but I am unable to identify when a new client request comes in.  Is there a way to be notified when a ServerSentEventsService receives a new client or even better, to use a normal controller to handle the incoming connection and spin up a service as it's needed.

Thank you for your work.

[2017-11-09 10:31] tpeczek commented on #8
In general using a controller here (although possible) would not be advised. In case of SSE the request is alive as long as client is connected so the action would have to "hang" till the client disconnects. Also there is only one instance of ServerSentEventsService per endpoint (it's a singleton). In general in ASP.NET Core architecture the MVC part is quite late in the pipeline and aims at handl

[2017-11-09 15:47] hvolmer commented on #8
Because I am fairly new to ASP (coming from node) and modern C# (I’ve been stuck in 3.5 CF for specific projects for years now) I will ask: Would a simple event or two be enough?

I’ll clone the repo and look at your suggestions.  Thanks

From: Tomasz Pęczek [mailto:notifications@github.com]
Sent: Thursday, November 9, 2017 3:32 AM
To: tpeczek/Lib.AspNetCore.ServerSentEvents <Lib.AspNetCore.Server

[2017-11-09 20:58] tpeczek commented on #8
@hvolmer in such case welcome to the community ;)

Yes events might be a good approach as well. Probably the best solution would be combining both (the base implementations of methods would trigger the events which leaves all options open).

We should discuss further your use case either here or through email (also feel free to reach out with any other questions you might have). I'll be more then

[2017-11-09 22:08] hvolmer commented on #8
If you prefer direct email, that’s good too. I can’t see how to do that without posting an address in this support forum.

For now, I’ve added a couple events down in the SSEService class. Pardon my poor enum naming… Seems to work.  I will need to inject this into a singleton service to help navigate between various controllers and another SSE service.
        internal void AddClient(ServerSentEve

[2017-11-10 09:32] tpeczek commented on #8
I definitely prefer to have dedicated events, something more like:

[code]

My biggest struggle is around handling the reconnects. Those can be either handled by separated event or a joined one. Also need to handle reconnects probably moves the event triggering code down to the middleware (this is where those overridable methods might become handy).

I should have some time tonight so I'll create

[2017-11-10 21:11] tpeczek commented on #8
@hvolmer please check the client-connectivity-events branch and let me know if this would be good API for you.

[2017-11-10 23:08] hvolmer commented on #8
Unfortunately, we just stopped this development path for now and I won’t be able to get anything useful done with it.  I GREATLY appreciate your responsiveness, and if we pick this up again, I’m sure I will be following up.  Thank you.

From: Tomasz Pęczek [mailto:notifications@github.com]
Sent: Friday, November 10, 2017 2:12 PM
To: tpeczek/Lib.AspNetCore.ServerSentEvents <Lib.AspNetCore.ServerSen

[2017-11-11 09:07] tpeczek commented on #8
Lowering priority till a need for this API arises.

[2017-11-19 17:17] CheloXL opened #9 "Support for IE/Edge"
Since IE/Edge don't support SSE, you have to use a polyfill ([like this one](https://github.com/Yaffle/EventSource)). The problem is that since the polyfill uses long polling, once a message is sent, everything between that last message and the moment the connection establishes again, is lost.

I'm not quite sure how to solve this, since you will have to be able to
- store a queue of items since t

[2017-11-19 18:06] tpeczek commented on #9
The SSE standard has a defined way of handling reconnects. It is based on dedicated `Last-Event-ID` request header. The EventSource API (the client side for SSE) takes care of reconnecting and sending this header automatically if there are some connectivity problems. Any polyfill for SSE should be using exactly this mechanism (the one you have linked confirms that in the README).

This library pro

[2017-11-28 20:35] #9 closed

[2018-04-17 07:34] kabazakra opened #10 "Сompression doesn't work when targeting 451 framework"
Hi @tpeczek . I read your article https://www.tpeczek.com/2017/08/aspnet-core-response-compression.html . Did you find any solution how to workaround this issue?  Can you suggest something?

Thanks in advance

[2018-04-17 08:50] tpeczek commented on #10
Hi @kabazakra. I didn't invest much time into this as I currently don't hvae any ASP.NET Core applications running on top of .NET Framework. The original issue which added flushing support to `DeflateStream` in .NET Core has "netfx-port-consider" label on it, but I believe this haven't happened yet.

One approach I could suggest is writting your own `ICompressionProvider` based on [SharpZipLib](ht

[2018-04-18 12:24] kabazakra commented on #10
Thanks for your advice, @tpeczek . Works fine with  SharpZipLib .

[2018-04-18 12:25] #10 closed

[2018-07-04 15:04] tpeczek opened #11 "Upgrade to .NET Standard 2.0 and ASP.NET Core 2.0"

[2018-07-04 15:05] tpeczek opened #12 "Add support for keepalives"

[2018-07-07 20:14] #11 closed

[2018-07-22 19:12] tpeczek opened #13 "Add more user friendly way of using/mapping middlewares with custom services"
Currently in order to use/map middleware which uses custom service an instance of this service is required.

[code]

It would be nice to have a generic method which requires only type.

[code]

[2018-07-30 10:49] #12 closed

[2018-08-18 19:22] tpeczek opened #14 "Attempt to optimize "for all clients" operations based on likelihood of writing to response completing synchronously"

[2018-08-18 19:22] tpeczek opened #15 "Add support for CancellationToken to asynchronous operations"

[2018-08-29 12:57] tpeczek opened #16 "Fix repository URL for NuGet"
https://blog.nuget.org/20180827/Introducing-Source-Code-Link-for-NuGet-packages.html

[2018-09-19 19:08] manureini commented on #8
Hello ;)
I'm working on an website which is using these events.
They're working, but the User Property of the client is not the correct user for me.

[code]

The user is now a user object, but is not the logged in user.

Is this maybe a issue of the ServerSentEvents in general?

[2018-09-19 20:01] tpeczek commented on #8
Hi @lordmampf,

It seems likely that the issue is general, although I'm not able to reproduce it with the projects I have. Would it be possible for you to create a simple project which reproduces the issue and share it with me?

And in context of the events, can you share some feedback? I would love to integrate this functionality into main branch but first I must know it gets the job done.

[2018-09-30 08:27] manureini commented on #8
Hello ;)

The Projekt is pretty complicated and I can not give it to you =(

But I solved this issue by adding a token to the Url.
var source = new EventSource('/sse?id=1&token=1234');

I've added a HttpConext parameter to read the query string inside the event.

I think the events are working fine and I can't find any problems from architectural point of view.

[2018-10-04 12:13] #8 closed

[2018-10-10 20:56] #14 closed

[2018-10-14 17:39] #15 closed

[2018-12-21 18:08] seniorquico opened #18 "Authorization policies"
A question... Is it possible to make use of ASP.NET Core authorization policies to restrict an SSE endpoint to authenticated users? I'm struggling to figure out how this could be configured.

[2018-12-22 19:59] tpeczek commented on #18
This falls under general problem of using authorization policies with middleware (for example if you would want to limit access to some static resources). ASP.NET Core provides direct authorization access only for MVC (`AuthorizeAttribute`), if you want to protect middleware you need your own code which utilizes `IAuthorizationService` (similar to view-based authorization). One way to do that is c

[2019-01-03 23:36] dviry opened #19 "HTTP headers required for reverse-proxy configurations"
Running my ASP.NET Core app with SSE behind nginx configured as a reverse-proxy, and the sse connection throws many "net::ERR_INCOMPLETE_CHUNKED_ENCODING 200 (OK)" errors.

According to [this answer](https://serverfault.com/questions/801628/for-server-sent-events-sse-what-nginx-proxy-configuration-is-appropriate) it would be enough to appropriately set some headers on response; yet I found no way

[2019-01-04 09:28] tpeczek commented on #19
I would prefer to add an extension point, my intial thought goes in direction of something similar to what [static files middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-2.2#set-http-response-headers) provides:

[code]

I'm assuming this would solve your case?

[2019-01-04 12:43] #16 closed

[2019-01-05 20:45] dviry commented on #19
Hi Tomasz,

I think an extension point would make it bullet proof for future
requirements, so I agree!

Cheers

On Fri, Jan 4, 2019 at 10:28 AM Tomasz Pęczek <notifications@github.com>
wrote:

[2019-01-05 22:34] tpeczek commented on #18
After some thinking I've decided to add authorization support directly, so no additional middleware is necessary. It will look like this:

[code]

It will support same settings as `AuthorizeAttribute`.

[2019-01-08 17:58] #18 closed

[2019-01-10 19:13] #19 closed

[2019-03-04 08:23] Lanayx commented on #4
Hi! First of all want to thank you for this great library. I'm pretty happy with it's functionality, there are just several things that I missed to use it as a nuget package.

1) Logging. I'd like to configure logging not only on connect/disconnect events, but on send events as well. Also added _Description_ field in _ServerSentEventsClient_ for logging purpose as well, since _Id_ is not enough
2)

[2019-03-04 09:23] tpeczek commented on #4
Hi @Lanayx

I'm happy you find this useful regardles if you use it through NuGet or your own fork :).

Thank you for your feedback. I'll give some thinking to your remarks. My intial thought is that those things best fit outside the library, but maybe after further consideration I'll see a nice place for them.

[2019-03-18 16:41] seniorquico commented on #4
@Lanayx, with your custom constructor, how do you manage scenarios where the same user (same `sub` claim from your JWT) opens multiple, simultaneous connections? Did you also make an adjustment to the `ConcurrentDictionary` keys in `ServerSentEventsService` to support multiple, simultaneous connections?

[2019-03-20 19:07] Lanayx commented on #4
@seniorquico thanks for raising the question. In my case only one last connection is used (last active tab), but I guess this should be configurable and one may want to have notifications for each tab

[2019-03-27 08:24] henry-chris commented on #4
I'm new-ish to this library and SSE.  I'm wanting to create more of a real-time collaboration app where a group of users subscribe to a Redis pub/sub channel.  I wouldn't want to send a Publish event to every user; only certain subsets at a time (each user subscribes to a document ID basically).

Not sure if I could tackle that with this library.  I'm trying to figure out if I'd need dynamically m

[2019-03-28 18:19] tpeczek commented on #4
@henry-chris My gut tells that under you scenario hides a requirement for some kind of groups functionality, which would be a nice thing to add.

But that will take time, so first I would like to try help you with hat library currently provides. Can you elaborate on how subscribing to different documents happens? Different URLs?

[2019-03-28 19:41] seniorquico commented on #4
In our application, we allow clients to subscribe to/unsubscribe from many topics/groups at any time. We initially thought about exploring how to wire up the middleware with a parameterized URL to identify the topic/group identifier. That would've allowed clients to subscribe and unsubscribe by simply starting and stopping different EventSources. However, after some initial testing, we found a sig

[2019-03-28 22:48] henry-chris commented on #4
@tpeczek I have been looking at this off and on and "Yes" it seems to need some type of group functionality.  I'm still working out the details, but we handle several different storage repositories and the underlying document metadata is different in most of them.  Best I can tell though, the ID would end up being a concatenation of two GUIDs  that would be supplied from the client/browser as eith

[2019-04-01 08:32] tpeczek commented on #4
@seniorquico Looks like you have put together a nice piece of software, really impresive.

@henry-chris From SSE perspective it looks like you shoudl be able to build what you need based on `ClientConnected` event. The `ServerSentEventsClientConnectedArgs` provides a `HttpRequest` for the connecting user so you can use it to apply any criteria you need and build your own grouping on top of that. F

[2019-04-02 16:06] henry-chris commented on #4
@tpeczek I'm not sure how to parse your comment.  Building a group is not really a problem.  The problem is how to only send specific events to specific groups using your package (which I think you alluded to at the end?).

I'm currently looking into this:

Seems like the main thing that would need to be re-written is the `ForAllClientsAsync` method.  Instead of doing it for all clients, have a se

[2019-04-02 17:45] tpeczek commented on #4
@henry-chris Let me clear my previous comment. From ` ClientConnected` events you have access to `IServerSentEventsClient` and `HttpRequest`. Managing groups means maintaining a set of `IServerSentEventsClient` collections, where each collection represents a different a group. When you need to send to a specific group you just iterate a specific collection and call `IServerSentEventsClient.SendEve

[2019-04-02 17:50] seniorquico commented on #4
@henry-chris It sounds like you understand the need to build your own grouping infrastructure and some possible implementation ideas. Great! Next, expose a method to get the list of client identifiers that belong to a target group (maybe by some "IGroupManager" that's also in your DI container). Then, use something like the following extension methods to distribute an event to the needed clients:

[2019-04-02 18:00] henry-chris commented on #4
@tpeczek Right, so if I send my GroupId over with the `HttpRequest` I can catch both the Client and Group with the Connected Event.  That's what I'm thinking at least.  After that I can either setup my own service/classes to send events through OR Fork your library and build it into it.  From your responses, it's looking like the former is the best option up front.

I had questions about the KeepA

[2019-04-02 18:05] tpeczek opened #20 "Add support for Groups"
- [X] Expose `OnClientConnected` and `OnClientDisconnected` on `ServerSentEventsServiceOptions`
- [x] Allow adding to group in  `OnClientConnected`
- [x] Add methods for sending to group

[2019-04-02 18:11] tpeczek commented on #4
@henry-chris Please go through @seniorquico comment. It's a very detailed description of what I had in mind. It gives you the exact functionality you need. Of course it would be much better if that would be built in the library and I've created an issue for it (#20), but as my resources are limited it will take some time.

Regarding KeepAlive, that shouldn't cause any issues. You don't need multip

[2019-04-02 19:50] henry-chris commented on #4
@tpeczek, @seniorquico Thanks, yes my trouble was finding the right way to go about this.  I wanted to make sure I wasn't spawning a bunch of Background services that weren't needed or would cause overhead.  At first I was just trying to debug through the library to see where/how I could hook into.  It does look like @seniorquico has a very simple solution that I did not see right away.  I will fo

[2019-04-25 02:25] henry-chris commented on #4
Just as an update.  Everything is working well.  I went with a similar approach to what you two suggested.  Working well with Redis over 3-4 server nodes with document specific groupings.

I've forked the repo locally and have been making small changes to integrate groups a little more.  It'll probably be awhile, but I'll at least give you a link when it's done (if you are interested)

I've just g

[2019-04-25 18:31] tpeczek commented on #4
@henry-chris Happy to hear that things are working out for you. Please share your code when it will be ready - it might be useful for me.

Regarding authorization, you are not the first with this question and I have an answer for you here: https://www.tpeczek.com/2019/01/aspnet-core-middleware-and-authorization.html

[2019-04-26 04:17] henry-chris commented on #4
I do have one other question.

What is the reason that this library primarily uses middleware for the notifcation routing?  I suppose you couldn't have a NuGet package that has built in controllers.

I ask because it seems that I am adding multiple middlewares which are evaluated during _every_ request, whereas a controller with a variable endpoint could (I believe) spawn the long-running SseClien

[2019-04-26 09:02] tpeczek commented on #4
@henry-chris

Although possible, handling things like SSE in controller would be incorrect from framework philosophy/architecture perspective. Controller are ment to handle standard request/response flow, preferable in API and view scenrios (the view scenerio is slowly becoming less important with grow of Razor Page and SPA). Middlewares have been introduced to give flexibility for other scenarios

[2019-04-26 09:57] tpeczek commented on #4
@henry-chris

One more thign regardign authorization. I've directed you to that blog post with assumption that you need something very specific. But this library has built in support for typical authorization scenarios. in case it happened that you've missed it, here is the relevant part of documentation: https://tpeczek.github.io/Lib.AspNetCore.ServerSentEvents/articles/authorization.html

[2019-04-26 10:08] henry-chris commented on #4
@tpeczek Understood.  I have seen SSE and Websockets implemented via controllers as a jump off point, so naturally I'm asking.  I do see the benefit in Middleware over API approach here, but since it's less supported it seems easier to just easier to take the API route.  I don't see much _actual_  downside, though I'm no expert.  Good to know that 3.0 will change this somewhat.

I was unaware of t

[2019-05-17 13:13] tpeczek opened #21 "Avoid capturing external variables in closures to avoid allocations"
- [x]  ServerSentEventsMiddleware.HandleContentEncoding
- [x] ServerSentEventsService.ForAllClientsAsync
- [x] TaskHelper.WaitAsync

[2019-06-07 20:51] #21 closed

[2019-07-30 20:25] #20 closed

[2019-08-06 02:39] henry-chris opened #22 "SSE Connection TTL on server?"
I haven't been checking the length of my connections and during testing found that some of them could stick around for quite awhile with keepalives.

If you gave the option for a `TimeSpan` in the`ServerSentEventsServiceOptions`.
Then gave the `ServerSentEventClient` a creation time.
You could then add something like:

        internal Task SendAsync(ICollection<IServerSentEventsClient> clients, S

[2019-08-06 05:36] henry-chris opened #23 "Add More Groups Functionality"
My apologies for not getting back to you on my implementation for groups.  I saw that you started to add support for groups and decided to add thoughts.

1. There seems to be no way to access a single group of clients.  This would be helpful to manage lifetime, logging/debugging, telemetry, etc...

I'd propose just adding an accessor such as:

``
public IReadOnlyCollection<IServerSentEventsClient>

[2019-08-06 06:08] henry-chris commented on #23
Adding a couple more here as I just thought of them looking over my code.

It would be good to know if a group was created or not when adding a client.

In my use case, I use Redis for Group pub/sub across nodes.  Every time I add a client, I want to start a subscription for that Group if one already doesn't exist for this node.  Without knowing if a group was created locally, I might need to subs

[2019-08-06 06:10] henry-chris commented on #23
Adding a couple more here as I just thought of them looking over my code.

It would be good to know if a group was created or not when adding a client.

In my use case, I use Redis for Group pub/sub across nodes.  Every time I add a client, I want to start a subscription for that Group if one already doesn't exist for this node.  Without knowing if a group was created locally, I might need to subs

[2019-08-07 13:34] tpeczek commented on #22
There are several ways to implement this and it wouldn't be too hard.

What I really want is to better understand the use case. SSE connection is alive as long as there is a client at the other end, when the client goes the connection dies. Trying to close the connection earlier seems odd to me. Also if client is a Web client (or any other client fully compliant with the standard) it will automati

[2019-08-07 13:45] tpeczek commented on #23
Sounds like a good idea.

What do you mean by *remove a client* here? Remove from group or something else?

Sounds interesting. I need to give it a though (to be sure I can expose it nicely in the API) but probably this is something which can be added.

In general, yes. The groups are only being added and in most cases it's not a very frequent thing. Synchronizing this with `SemaphoreSlim` is a ve

[2019-08-07 14:24] henry-chris commented on #22
Ohhh, yes it will re-connect if killed from the server.  I did not think about that.  It seems like keeping it in the browser would be best then.  That way we can prevent re-connections.

What I've found are two things.

1. Users leave tabs open for a looong time.  Currently, our maximum session length is X hours without needing to re-authenticate with SSO.  So, I'd like to kill the Connections af

[2019-08-07 14:38] henry-chris commented on #23
Yes.  After looking more at your code, it seems that you already do this when an ~~'OnClientConnected'~~ 'OnClientDisconnected' event happens.  Let me think about this more before getting back to you.  Sorry that I did not make it clearer the first time.

Yes, on this one it matters to me if it's a 'new' group or not.  When using Redis, I subscribe a single time for each Group on each server node.

[2019-08-08 13:06] tpeczek commented on #22
Implementing this in client seems to be the best approach for your scenario.

Despite that I'm going to keep this open at least for some time as your points caused me to start thinking about session expiration in authorized scenarios and what should happen to stream in such cases. I need to think about this.

[2019-08-08 13:19] tpeczek opened #24 "Explore using Dictionary synchronized with SemaphoreSlim instead of ConcurrentDictionary for holding clients."
In same cases `ConcurrentDictionary` can be slow and blocking, so (after careful measurement) it might be worth to replace it with regular `Dictionary` synchronized with help of `SemaphoreSlim`.

- [x] Prepare simple benchmark for adding clients
- [x] Prepare concurrent benchmark for adding clients
- [x] Replace `ConcurrentDictionary` with `SemaphoreSlim` synchronized `Dictionary` and compare resu

[2019-08-08 13:23] tpeczek commented on #23
So I would scope this one to following items for now:
- [x] Expose accessor which returns collection of clients in specified group
- [x] Expose an information if group was created while adding a client

---

In such a case I would still consider synchronizing this with `SemaphoreSlim`. In fact I'm going to explore replacing `ConcurrentDictionary` for clients with this approach as well (see #24).

[2019-08-09 23:09] henry-chris commented on #23
This may fall under personal usage here, but here's another thing:

All of my events are sourced from a browser.  For instance, 10 users are in a session with a document.  One of them makes a change to the document.  At that time, an HTTP call is made to the server.

That call kicks off an SSE event which propagates the change to all connected clients for that group.  Howevever, by default, it als

[2019-08-10 00:55] chrisckc commented on #22
I implemented something similar by adapting the client (js polyfill) to accept a "CLOSE" event message type, which tells the client to close the connection, otherwise just dropping it from the server side will cause the client to just auto reconnect.

[2019-08-10 13:00] tpeczek commented on #23
This sounds strictly like a business logic which belongs *higher* than this library. That said, I see a potential way of making implementation of such requirements easier by giving an option to provide predicate to send function, which would be evaluated for every client. So I'm tentatively adding one more item to the scope:

- [x] Add `SendEventAsync` overload which takes a predicate against `ISe

[2019-08-10 20:02] henry-chris commented on #22
@chrisckc  That's a very good idea and something I didn't think of.  So simple.

[2019-08-22 19:41] tpeczek opened #25 "Add .NETCoreApp 3.0 target with FrameworkReference to support ASP.NET Core 3.0"

[2019-08-27 20:49] #23 closed

[2019-09-23 19:53] #25 closed

[2019-10-30 07:41] AZ1904 opened #27 "[Question] Disconnect a client"
Hi Tomasz, I have a question. How do I disconnect a client on purpose?

This is the (untested) code I've come up with.

[code]

Obviously not an ideal approach. So I was wondering whether your library offers a better option? Maybe an API that I didn't see?

Thanks

[2019-10-30 10:20] tpeczek commented on #27
Hi,

In general SSE doesn't provide a way to close connection from server perspective. This is why I don't expose any API for it. If you try to close connection forcibly (like above) the client will notice it and attempt to reconnect (that's how SSE works).

To achieve *close* functionality, you need a logic on client side to handle it. You can take a look at discussion here: https://github.com/tp

[2019-11-01 22:37] #27 closed

[2019-11-13 10:01] alizahid4004 commented on #27
Actually what I'm trying to achieve is to disconnect a client when authorization is revoked. Does the library offer anything to take care of this?
I could send a ": CLOSE" to command the client to disconnect, but a malicious client may ignore it. So, for now, I'm just using reflection.

[2019-11-13 10:15] tpeczek commented on #27
No, currently there is nothing available out of the box and it is an API very hard to get right.

Exposing `HttpContext` brings risk that someone will try to interact with response directly. Exposing `Abort` may create a false impression that it is reliable operation. I will put some more thinking into if there is something safe which can be done here.

[2019-11-22 09:56] #22 closed

[2020-01-02 21:34] samprakos commented on #23
This looks like what I need...is there example code for setting this up in Startup.cs (e.g. setting up code to execute on OnClientConnected event)?

[2020-01-03 12:13] tpeczek commented on #23
@samprakos

It looks like I have failed miserably at providing any documentation for groups functionality. I will drop a simple snippet here for you later today and create a task for myself to follow with documentation.

[2020-01-03 20:52] tpeczek commented on #23
@samprakos

The basic group management in Startup.cs can look like this:

[code]

Later, when you want to send something to group it can be done like this:

[code]

[2020-01-03 21:00] tpeczek opened #28 "Create Documentation for Groups Functionality"
Create documentation to cover groups functionality (#20, #23).

[2020-01-06 13:11] #28 closed

[2020-03-29 06:57] axanth opened #30 "Routing Problem when published on IIS Application."
When the application is published as IIS Application i get error 500 ( https://localhost:4433/sse-notifications ). I guess this is because the /appname/ does not get added to the path so routing fails.
Tried to put the app name in the path in call to :
 endpoints.MapServerSentEvents<NotificationsServerSentEventsService>("/_**RCB**_/sse-notifications"); but has no effect.. any help?

[2020-03-29 10:45] tpeczek commented on #30
Can you provide the body of that 500 (or anything you can find in logs) and your pipeline configuration?

[2020-03-30 07:30] axanth commented on #30
Never-mind. I fell into a trap. It was a combination of 2 issues so it kinda confused me! One had to do with app poll in IIS (solved). The other solved it by adding ~ to the Path in  endpoints.MapServerSentEvents<NotificationsServerSentEventsService>("~/sse-notifications").

Thank you for having the time to respond!!  Keep well!!

[2020-03-30 07:43] axanth commented on #30
Sorry my mistake the error now is 404 .... not found

[2020-03-30 07:45] axanth commented on #30
Request URL: https://localhost:4433/sse-notifications
Request Method: GET
Status Code: 404
Remote Address: [::1]:4433
Referrer Policy: no-referrer-when-downgrade

the problem has to do with routing ... the path of get is https://localhost:4433/sse-notifications but
the application is published as IIS Application and it should be https://localhost:4433/**RCB**/sse-notifications

[2020-03-30 07:46] axanth commented on #30
When the application is published as IIS Site (no application) it works fine!

[2020-03-30 07:49] axanth commented on #30
services.AddServerSentEvents();
            services.AddServerSentEvents<INotificationsServerSentEventsService, NotificationsServerSentEventsService>();
            services.AddTransient<INotificationsService, LocalNotificationsService>();

            services.AddResponseCompression(options =>
            {
                options.MimeTypes = ResponseCompressionDefaults.MimeTypes.Concat(new[] { "

[2020-03-30 08:16] tpeczek commented on #30
I'm a little bit confused now. The URL to which the request is made (in your case https://localhost:4433/sse-notifications) it's not a result of routing configuration.

What you configure in Startup.cs is the endpoint on which this library will listen for SSE, this library doesn't generate the URL to be used from frontend.

If you have been copying from the demo application, this URL is probably h

[2020-03-30 19:20] axanth commented on #30
You are right! The problem was in JavaScript and in the line:
var source = new EventSource('../sse-notifications'); it was missing the .. for the relative path !! Sorry for the trouble! Thank you for your time!!

[2020-03-30 19:20] #30 closed

[2020-04-14 07:49] draudrau opened #33 "OnClientConnected and OnClientDisconnected not fired"
Hi,

I use your library in the following context :
- Windows authentication
- Cors policy

The library is used in a Web API and events are consumed by two MVC applications.
All with ASP.NET Core 3.1

How I configure the middleware :
[code]

All is working fine, I can send event to specific user but the events OnClientConnected and OnClientDisconnected are never fired.

I've looked a bit at your co

[2020-04-15 21:01] tpeczek commented on #33
Hi,

I've done some testing today and I wasn't able to reproduce the issue. Can you share the part where you are providing actions for `OnClientConnected` and `OnClientDisconnected`?

[2020-04-16 15:18] draudrau commented on #33
For now it's pretty simple :
[code]
When it will work, i'll add some other actions.
Can you send me your Startup.cs file ?

Below my `JobExecutionEventsService` class :
[code]

[2020-04-16 16:10] draudrau commented on #33
If it can help, content of the request when connecting to the SSE endpoint :
[code]

[2020-04-16 21:05] tpeczek commented on #33
I think I was able to reproduce it. It seems to be a result of using a custom service, options doesn't seem to be read correctly in that case.

I will work on fix, but meantime you should be able to workaround this by subscribing to events directly in service instead of through options.

[code]

[2020-04-17 05:52] henry-chris commented on #33
I've been running this library for months in Azure as a Web App (probably almost a year) and just recently this started occurring.

OnClientConnected Fires every time correctly, but Disconnected events are never triggered.

What's funny is my Production server still gets events.  But my Dev/QA servers do not.  If I spin it up on Localhost, I get the events.

It's really strange.

EDIT:  I am using

[2020-04-17 06:43] draudrau commented on #33
Great, thank you, I will do that.
Have a good day !

[2020-04-17 09:11] henry-chris commented on #33
@tpeczek I'm not sure if my problem is the same as @draudrau , but basically in the Middleware it runs to `await context.RequestAborted.WaitAsync();`.

It then registers the cancellationToken callback with source, but the callback is never called.

Clients just keep building up and are never removed as they are never cancelled.

Locally everything is fine. Once I deploy to Azure Web App is when it

[2020-04-17 10:57] yaourt opened #34 "Requests without "Accept: text/event-stream" header are ignored"
Hi !

First of all, thanks for this neat & useful library !

I'm seeing here : https://github.com/tpeczek/Lib.AspNetCore.ServerSentEvents/blob/0b94dc18fd0bb52aaa94703990beed6560141ddd/Lib.AspNetCore.ServerSentEvents/ServerSentEventsMiddleware.cs#L55

that if the incoming request does not have the `Accept: text/event-stream` header then the middleware is not processing it.

I am not sure if this re

[2020-04-17 20:16] tpeczek commented on #33
@henry-chris It looks like something different. Probably related to one of the things you have mentioned. Can you create a separate issue? I'll try to investigate and see if anything can be done to mitigate whatever is happening.

[2020-04-17 20:55] henry-chris opened #35 "CancellationTokenCallback never fired when SSE connection ends in Azure Web App"
**Configuration:**
Linux Web App
DOTNETCORE|3.1    (For LinuxFXVersion)  I can't tell specifically what runtime it is yet.

Build uses Core 3.1.2 to build project.
Use 'event-source-polyfill'  npm pacakge in browser.  (Both 1.0.11 and 1.0.12)

Library version is 4.0.0, but I've also tested 4.1.0.

**Description:**
In the SSE Middleware the pipeline looks like this -
![image](https://user-images.gi

[2020-04-19 21:36] #33 closed

[2020-04-19 21:47] tpeczek commented on #34
I believe your interpretation to be correct. In fact I think the statement below from different version of spec describes it the best.

So if `Accept` requet header is present, it should contain `text/event-stream`, but the `Accept` request header doesn't have to be present.

I'll treat it as a low priority bug.

[2020-04-20 20:54] tpeczek commented on #24
After measurements, the implementation will remain based on `ConcurrentDictionary`.

[2020-04-20 20:54] #24 closed

[2020-04-21 05:05] henry-chris commented on #35
Not sure how much you can help or what your plan was.  Just giving some updates.

I need to redeploy in Linux with some logging modifications done to your code so I can verify exactly the code which is failing (in case something weird is happening).

For now, it seems like a Linux App Service Specific problem, although I haven't been able to rule some things out.  I remember this being an issue be

[2020-04-21 10:28] yaourt commented on #34
I'm sorry, I'm not able to run the test in my environment, so I cannot propose a PR ...

Following your comment, I would process the request:
- if the Accept header is there with "text/event-stream" value
- or if the Accept is not there

My proposed approach would then be to replace the current if block by the following one :

[code]

[2020-04-22 23:48] henry-chris commented on #35
Confirmed it has nothing to do with the library as I reproduced it in a minimal MVC app today with HttpContext.RequestAborted.ThrowIfCancellationRequested().

Works in windows, not in Linux.

Opened a ticket with Azure.  Let me know if you want me to close this or do anything else.

[2020-04-23 20:13] tpeczek commented on #35
Yes, I don't think it's something which can be fixed by library.

But if you want we can try discuss some application level workaround which can help mitigate that in your context.

[2020-04-23 23:58] henry-chris commented on #35
I appreciate it it.

I'm hoping Azure has an answer soon.  It feels like something strange is happening since it's been working fine for about a year and suddenly stopped out of nowhere.

**My workaround around options are as follows (that I know of):**
1. Switch to Windows App Service
2. Implement some type of polling from the client
3. Implement some type of session timeout/invalidation
4. Attem

[2020-04-26 20:10] #34 closed

[2020-04-26 20:21] tpeczek commented on #35
I'm thinking about using keepalive to workaround this.

I didn't had chance to reproduce the issue my self, but if keepalives are failing with a specific exception I should be able to catch that in `ServerSentEventsKeepaliveService` and disconnect client there. I would have to know if and how keepalives fail in this scenario, if you still have a repro environment can you set keepalives to always a

[2020-04-26 20:48] henry-chris commented on #35
There is no exception that I can find.  Or it's being swallowed somewhere.

Sadly my minimal repro environment was just to use an Asp.net Core template and create a controller that delayed response for 30 seconds.  Then I make a call to the controller from the browser and close the browser window at around 5-10 seconds.  (All in Linux App Service)

I tried multiple ways to listen for the cancellat

[2020-05-03 08:58] henry-chris commented on #35
Currently waiting on MS response.

The problem that I have now is that there is no way to manually remove a client.  No matter what workaround I use the clients will continue to build up in the dictionary as there is no public facing way to remove clients.

I guess I might be able to use reflection to trigger `ServerSentEventsService.RemoveClient` and then trigger the Disconnect event manually, bu

[2020-05-03 13:54] tpeczek commented on #35
The problem is much deeper than just removing clients from the dictionary, there is a bunch of (dormant but still eating resources) threads hanging there.

If you have a logical conditions based on which you can determine which clients should be disconnected, they you may try aborting th connection itself. You can grab the `HttpContext` for a client in `OnClientConnected` event:

[code]

When the

[2020-05-04 14:01] henry-chris commented on #35
Crazy.  I think I've found and fixed the problem.

If you create a Linux Web App and add _any_ CORS urls/domains then RequestAborted stops working.  Maybe the connection happens at a different point when you use the Web App CORS settings?

Anyways, I had recently added CORS url for my CDN and removing that fixed it.  Never would have guessed.

Thanks for the help and I'm closing this now.

![image

[2020-05-04 14:01] #35 closed

[2020-05-04 14:31] tpeczek commented on #35
Indeed crazy. I would never thought those things could be connected.

I'm happy you have found the solution.

[2020-07-10 02:45] Bosch-Eli-Black opened #37 "Add ReconnectInterval option in ServerSentEventsServiceOptions"
In our project, we want our `ServerSentEventsService` to be started with a different reconnect interval than the default.

Currently, this seems a bit difficult to do, because `ChangeReconnectIntervalAsync()` is async, so it can't be awaited in the `ServerSentEventsService` constructor.

Could you please add a `ReconnectInterval` field to `ServerSentEventsServiceOptions`, so that the reconnect int

[2020-07-11 08:46] tpeczek commented on #37
This change makes perfect sens and won't be problematic, so I will take care of adding this.

[2020-07-11 09:24] #37 closed

[2020-07-13 02:12] Eli-Black-Work commented on #37
Yay! Thank you :)

[2020-07-13 16:48] tpeczek commented on #37
You're welcome

[2020-08-28 14:04] alexiwonder commented on #4
@tpeczek How is it possible to gracefully close the connection from the server?
Thanks.

[2020-08-30 19:23] tpeczek commented on #4
Hi @alexiwonder,

This hs been raised before in #27.

TL;DR SSE philosophy doesn't forsee such an operation as  server is supposed to be a never ending stream of evetns, but if you want you can create a "logical" operation for close.

[2020-08-31 06:39] alexiwonder commented on #4
Thanks @tpeczek.
Before I raised the question, I was wondering how [sending 204 No-Content to signal the client stop re-connecting](https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events-intro) is ever possible in ASP.Net Core when a connection is already established. I gave it a a go and found that it's not doable to change the http status code once the first response h

[2020-08-31 09:46] Doidel opened #38 "OnClientConnected/Disconnected not firing over Dependency Injection"
Hi,

I just started giving this library a try, it seems great so far, thanks for all the effort!

The issue I have seems related to #33. OnClientConnect and OnClientDisconnect fires well when handled in my custom implementation:

**works**
[code]

But it doesn't work well when I do the same over Dependency Injection:

**doesn't work**
[code]

I am using version 5.1 of the library.

Please let me k

[2020-08-31 10:52] Doidel commented on #38
On second thought, my question makes no sense because a Controller is constructed for every request and you don't want to attach handlers on every request. Sending makes sense, but not attaching/detaching handlers.

[2020-08-31 10:52] #38 closed

[2020-09-01 07:16] tpeczek opened #39 "Investigate Possibility of Providing "Disconnect" Functionality Based on Some Form of Client Identification and 204 Response Status"
Server Sent-Events provides a theoretical way for disconnecting client from the server. The flow is as follows:

- Server disconnects the client by terminating a connection
- Clients attempts to reconnect due to auto-reconnect
- Server responds with 204 to reconnect attempt which prevents further reconnect attempts

This flow requires logical way of tracking clients so server can respond properly

[2020-09-01 07:20] tpeczek commented on #4
@alexiwonder That 204 status code is a tricky thing in Server-Sent Events. The correct flow to use it goes like this:
- Client connects and receives events
- Server decides to disconnect the client and terminates the connection
- Due to auto-reconnect client automatically makes connection the server
- Server responds with 204 which prevents client from further attempts to reconnect

So this is a f

[2020-09-02 08:26] alexiwonder commented on #4
@tpeczek Brilliant answer! Thanks.

[2021-02-07 10:37] 0UserName commented on #4
@tpeczek , thanks. As I see, interaction with the client is carried out through `HttpResponse`, in addition, there is no mechanism for identifying connections. This is probably not a problem if we are talking about using `HTTP/1.1`, in which a new `TCP` connection will be created for each request. If we talk about `HTTP/2`, then a multiplexing mechanism is available in it, that is, within one clie

[2021-02-09 16:12] tpeczek commented on #4
@0UserName The first important thing, which should help to untangle things a little bit here, is that TCP and HTTP are different layer protocols. TCP is Layer 4 (Transport) while HTTP is Layer 7 (Application). This, on very high level, allows you to be ignorant of how HTTP uses TCP, if you are delivering business functionality on top of HTTP (like Server Sent Events). Of course when you are dealin

[2021-04-01 18:44] Jarbasjuniorbh opened #40 "User Claims is Always Empty"
Hi, I'm using IServerSentEventsService.GetClients to get specific clients, but the claims is alwas empty;
![image](https://user-images.githubusercontent.com/9727193/113339549-01d63d00-9301-11eb-81d6-838f06767d0e.png)

Now if check the User in my controller it's ok:

![image](https://user-images.githubusercontent.com/9727193/113339604-14e90d00-9301-11eb-8dce-7075ac29cb9b.png)

[2021-04-03 13:11] tpeczek commented on #40
Hi @Jarbasjuniorbh,

This is interesting.

The `IServerSentEventsClient.User` is basically a passthrough to `HttpContext.User`. This suggests to me that either the SSE request and controller request are being made with different auth, or the pipeline for both is different.

Of course there can always be a sneaky bug which I'm missing ;).

Can you provide a minimal reproduction? Maybe a modified br

[2021-04-05 15:23] Jarbasjuniorbh commented on #40
Hi @tpeczek,

Thank you for your reply.
The problem was because I'm using a bearer token and I had to pass it through the headers using polyfills: (https://github.com/Yaffle/EventSource).
Now it's loading the claims ok.
Thank you!

[2021-04-05 15:23] #40 closed

[2021-06-29 13:14] leijae opened #41 "Single client clarity..."
After reading the documentation, I see that the User is exposed as well as the SendEventAsync. However, sending to a single client does seem to be a little more problematic for me.

Things I've tried:
1. Getting a single connected client, selecting a client then sending an event:
[code]

2. Getting a client from a list of connected Clients:
[code]

both of these result, for me, in a null reference

[2021-06-30 10:43] tpeczek commented on #41
Hi @leijae,

You first approach doesn't work, because `IServerSentEventsService.GetClient` expects `ServerSentEventsClient.Id` as a value.

If it comes to the second approach, I'm guessing you are doing this in context of a different request then the one which has established the connection. In that case, the `User` is in fact a different object just with the same values.

The correct approach is

[2021-07-01 14:41] leijae commented on #41
Ok fantastic. Thanks for the clarity. Just wanted to show you what I'm doing here. With your help I did manage to get it working.

I have a bot using the MS Bot Framework, if a user wants to escalate to an agent they send a request goes to an available agent. So, using SSE, an agent can be anywhere in the application and get the request.

MS did a good job with MS Bot Framework, but they made usin

[2021-07-01 14:42] #41 closed

[2021-07-01 16:52] tpeczek commented on #41
Happy to hear that you've managed to get it working and even more happy that you are using this library for interesting stuff :+1:.

[2021-07-07 08:14] georgy93 opened #42 "[Question] SSE concurrency"
Hello!
I would like to know if SSE is thread safe or do I need to lock client connections when transmitting data.

My use case is TPL Dataflow pipeline which has 2 branched pipelines. They both end with a SSE message broadcast ActionBlock.
When I added the second SSE broadcast block, my SSE client seems to not receive all the messages, and sometimes it does not receive anything at all for more tha

[2021-07-07 09:43] tpeczek commented on #42
Hi @georgy93 ,

In general, scenario like the one you are describing shouldn't be an issue - but it apparently is 😉.

On description alone it's hard to say if the issue is in the application code, library code or something in between. If you would be so kind to create a minimal repro which could be used for investigation, I would be happy to take a look at it.

[2021-07-08 14:11] georgy93 commented on #42
Hi again!

I found the cause of my problem. My app is behind Fabio and Fabio has problems with SSE in its earlier versions. Updating the version of Fabio should fix my problem.

[2021-07-12 11:10] tpeczek commented on #42
Happy to hear you got it solved!

[2021-07-12 11:10] #42 closed

[2021-10-29 00:56] optical opened #43 "Race Condition when managing the Groups collection"
It looks like reading/writing to the Groups collection in `ServerSentEventsService` is not properly synchronized/thread-safe. Although writing is properly synchronised with a semaphore, it is still possible for other threads to be reading & enumerating the dictionary during a write, which causes them to throw, eg on line this: https://github.com/tpeczek/Lib.AspNetCore.ServerSentEvents/blob/main/Li

[2021-10-29 19:08] tpeczek commented on #43
Thank you for bringing this up with so many details. I'll take a look as soon as possible (probably next week).

[2021-11-02 21:13] #39 closed

[2021-11-03 21:57] tpeczek commented on #43
Looks like I was able to distill the problem into an [unit test](https://github.com/tpeczek/Lib.AspNetCore.ServerSentEvents/runs/4098558527?check_suite_focus=true).

Indeed it looks like using `ConcurrentDictionary` will be simplest, I just need to make sure I avoid unnecessary internal locking.

[2021-11-08 20:30] #43 closed

[2021-12-30 17:15] jmdavid commented on #4
Hi and happy new year!
First thanks for that library.
Would it be possible to send a message to specific client?

[2021-12-30 18:54] tpeczek commented on #4
Hi @jmdavid and happy new year to you as well!

In general, yes it's possible: https://tpeczek.github.io/Lib.AspNetCore.ServerSentEvents/articles/getting-started.html#sending-to-specific-client. Do you have any specific scenario which gives you an issue?

[2021-12-30 19:04] jmdavid commented on #4
@tpeczek ok, I got it, thanks!

[2022-01-11 21:25] ssteiner opened #46 "Controlling Format of Keep Alive"
My frontend guys aren't happy with 'KEEPALIVE', is it possible to change the format without having to implement my own keepalive mechanism?

[2022-01-12 10:34] tpeczek commented on #46
Hi @ssteiner,

Before we talk about actual feasibility of changing the format, I would like to understand a little bit deeper your need. Currently keep alive is being send as a comment.

[code]

According to Server Sent Events specification around interpreting an event stream, comments should simply be ignored (https://html.spec.whatwg.org/multipage/server-sent-events.html#event-stream-interpretat

[2022-01-12 10:49] cwirz commented on #46
Hey @tpeczek i'm using this [lib](https://www.npmjs.com/package/event-source-polyfill) and could not receive any heartbeat events with it. They say in the docs that this is needed to send every 15-30 seconds and it has to be a comment but for some reason it does not work with the comment that is sent here. I since switched to another better lib which does not require any heartbeat events to be sen

[2022-01-12 11:22] tpeczek commented on #46
Hi @cwirz,

Both options are possible. It can be a bug in client implementation when it comes to handling comments, but it can also be a bug in my implementation. For example I'm not sending comment as an isolated block (followed by an additional blank line). This is perfectly valid from protocol specification point of view, but if a client library has alive checks after the parser, the parser mig

[2022-02-25 03:38] dannyhrl opened #47 "Old dependancies"
I'm looking at using this for our company app, but the Microsoft dependencies are limited to 3.0.0 which we are unable to do because this is too low to work with our other packages. Can you update to allow up to the latest or at least more recent versions of the dependencies?

[2022-02-25 06:51] tpeczek commented on #47
Hi @dannyhrl,

I think I need to understand a little bit more about your request.

The NuGet package (https://www.nuget.org/packages/Lib.AspNetCore.ServerSentEvents/8.0.0) is multi-targeting .NET Core 3.1, .NET 5, .NET 6, and .NET Framework 4.6.1+. For .NET Core 3.1, .NET 5, and .NET 6 it has no dependencies. For .NET Framework the dependencies are targeting ASP.NET Core 2.1.X because that's the o

[2022-02-27 20:51] dannyhrl commented on #47
Hey @tpeczek, sorry I should have included more information initially - that's what I get for doing it last thing in the work week..

I can certainly give more context! We have a 60+ project solution that (unfortunately) is still running in .NET Framework 4.7.2. When attempting to install your NuGet package I get a warning about `Microsoft.Extensions.DependencyInjection.Abstractions (>= 2.1.0 && <

[2022-02-28 08:52] tpeczek commented on #47
Hi @dannyhrl,

Thank you, that makes it clear for me. So it would be about dependencies for .NET Framework which are not ASP.NET Core specific. This makes perfect sense, as they have their own lifetime.

I should be able to make those dependencies without upper bound. There would be of course runtime risk, but if ASP.NET Core is able to work with specific version the library should be as well.

[2022-02-28 20:29] #47 closed

[2022-05-10 18:08] JesperTreetop opened #49 "Last-Event-ID and disconnection not optimized for some use cases"
I wanted to build an SSE endpoint which takes a query string parameter to specify an ID of a stream of information and then, once that stream has ended, replied with 204 as is customary to signal that the client should stop reconnecting.

This library sort of fights you here. Wanting to be able to disconnect requires implementing a client ID provider that maps to and from a client Guid. And there'

[2022-05-10 19:41] tpeczek commented on #49
Hi @JesperTreetop,

If I've understood your need correctly, it doesn't stand against what is there currently in the library. For me it sounds more like missing functionality.

What you are describing sounds to me like a stream level filter or a "validity check". Strictly technically speaking this logic could be exposed by a possibility of registering an optional DI service, which would be used to

[2022-05-10 20:35] JesperTreetop commented on #49
That's basically it, at least a big part of it. That's being able to 204 a connection attempt (be it a reconnection or not). There are a few other shards of functionality, like being able to end the original request in a controlled way without having the client ID/Guid mapping logic. I may attempt a patch and pull request to fit these bits in now.

I thought the current model for how `Disconnect`

[2022-05-11 14:43] JesperTreetop commented on #49
Made a first attempt at a patch in #50 including perfunctory tests. It hooks into the place you requested in middleware but there are many other details that could differ.

[2022-05-11 20:42] tpeczek commented on #49
Thank you :). I might not be able to review this before weekend, but I'll try to do my best.

[2022-05-11 21:11] JesperTreetop commented on #49
No need to hurry on my account. With that change, I have something that works for my use case for the time being (and if it doesn't I might update the pull request).

[2022-05-14 19:31] jgcoded commented on #4
Hello @tpeczek, great library, I appreciate your efforts. My note is less about feedback on this library and more about my experience on using SSE with nginx in general. Along with the `Cache-Control: no-cache` and `X-Accel-Buffering: no` response headers ([Advanced page](https://tpeczek.github.io/Lib.AspNetCore.ServerSentEvents/articles/advanced.html)), I also found that http2 did not work well w

[2022-06-02 07:08] billhong-just commented on #4
Hi, @tpeczek
First thanks for this great library.

1. Would it be possible to use DI inside `OnClientConnected ` and `OnClientDisconnected ` ? or
[code]
2. Would it be possible to do something like [jamesmh/coravel](https://github.com/jamesmh/coravel/blob/ba912fcbb1aa95ec4e4a2587d7c50decda488fdc/Src/Coravel/SchedulerServiceRegistration.cs#L35) did?

    - https://docs.coravel.net/Invocables/#_1-ge

[2022-06-02 19:53] tpeczek commented on #4
Hi @billhong-just,

Thank you for the feedback, it's a valuable one. Indeed dependency injection isn't something that has been explictly designed into `OnClientConnected` and `OnClientDisconnected`.  That said, as the event args for both expose `HttpRequest`, there is an ugly way to get services from DI inside of them.

[code]

I do agree that is terribly ugly (and mostly a side effect, not intend

[2022-06-04 06:50] billhong-just opened #51 "Support DI (`OnClientConnected` and `OnClientDisconnected`)"
# Problem to solve

Currently, We have to use `clientConnectedArgs.Request.HttpContext.RequestServices.GetRequiredService<T>()`
to get needed services from DI. It's not an intended way.

# Proposal

A more ASP.NET Core style DI. Maybe something like [jamesmh/coravel](https://github.com/jamesmh/coravel/blob/ba912fcbb1aa95ec4e4a2587d7c50decda488fdc/Src/Coravel/SchedulerServiceRegistration.cs#L35) di

[2022-06-04 07:00] billhong-just commented on #4
Hi, @tpeczek

Thanks for such a quick and detailed answer.
I have created an issue for this. (https://github.com/tpeczek/Lib.AspNetCore.ServerSentEvents/issues/51)

Thanks ^^

[2022-10-10 10:26] CobusKruger opened #52 "Lib hijacks any service calls without Accept headers"
When the middleware checks the `Accept` header [here,](https://github.com/tpeczek/Lib.AspNetCore.ServerSentEvents/blob/5de30003f84ecaf7c59bc953a76bd5618ebe4de3/Lib.AspNetCore.ServerSentEvents/ServerSentEventsMiddleware.cs#L119) it assumes that *any* API call without an `Accept` header is looking for an event stream, and promptly creates a new client.

This seems like a terrible default, and it aff

[2022-10-10 11:04] tpeczek commented on #52
Hi @CobusKruger,

As crazy as it sounds, the `Accept` header is not required for SSE, if you take a look at the [spec](https://html.spec.whatwg.org/multipage/server-sent-events.html#the-eventsource-interface) , you will find following point:

So the behavior is in line with spec.

That said, it might be a potential place for parametrization (although the default behavior would still remain to not

[2022-10-10 12:20] CobusKruger commented on #52
Thank you for the quick reply.

My problem is that it's picking up other endpoints.

I have a `PushController` on my service, and a `POST` method named `user`. This is called at the expected url: `https://example.com/api/push/user`

If that call is done *without* an `Accept` header, it enters the SSE code, calls `AcquireClientId`, and proceeds to create a new `ServerSentEventsClient`. That's becau

[2022-10-10 13:33] tpeczek commented on #52
It sounds to me like you didn't map the middleware against a specific endpoint but as a part of global pipeline, which is rather undesired.

For example the demo app is mapping to specific endpoints here:
[code]

[2022-10-10 14:31] CobusKruger commented on #52
No, I have it mapped against a named endpoint, `/sse`;

[code]

The headers, by the way, are to get rid of the 499 timeout errors I get on the `/sse` call in Azure, but it doesn't seem to be the full answer. But my Angular code is connecting against `/sse`. The service code sending the notifications by calling the `/push/user` endpoint had the same 499 timeouts, which was what led me to investigat

[2022-10-10 14:45] tpeczek commented on #52
When it comes to timeout, the most often reason for them is inactivity, you may want to explore keep alive: https://www.tpeczek.com/2018/08/server-sent-events-and-aspnet-core-you_9.html

Regarding the middleware being triggered for endpoint it is not mapped for, we are approaching the realm of improbable and highly unlikely :). Unless that `MapControllers` in front of it is mapping a really weird

[2022-10-10 20:16] CobusKruger commented on #52
I hear what you're saying, but my problem went away when I forced an accept
header using my Ocelot gateway, and I found the issue by placing a
breakpoint in that function. There may have been something else playing a
part, but not that I've seen. I'll try to create a reproduction for you,
but probably not before Thursday.

On Mon, Oct 10, 2022, 16:45 Tomasz Pęczek ***@***.***> wrote:

[2022-10-13 08:48] richbryant opened #53 "EventSource MIME type"
HI,

I'd love to use this in a current project but when I work through Getting Started" with a simple bit of code in a page to gather the SSE events, I get the following error:

`EventSource's response has a MIME type ("text/html") that is not "text/event-stream". Aborting the connection.`

How do I go about resolving this?

[2022-10-13 10:39] tpeczek commented on #53
Hi,

The error doesn't exactly say what issue you are experiencing, beside the fact that your are trying to establish a connection but the endpoint returns an HTML. There are multiple possible reasons:
- You are trying to establish connection against wrong endpoint
- Authentication is interfering with the flow
- There was a server side error

And some more. To be able to narrow that done, you need

[2022-10-19 11:48] andreaskyritsis opened #54 "Server disconnects clients after 1.7mins when deployed on Aws behind load balancer and cloudflare"
Hello @tpeczek,

I see a discrepancy in behavior between local and production deployment.

When deploying locally everything works as expected and clients connection are kept open forever (if client does not close eventsource).
When deploying on production on AWS behind kubernetes loadbalancer and cloudflare the connections are being closed after 1.7mins.

The behavior is the same even when using

[2022-10-19 19:53] tpeczek commented on #54
Hi @andreaskyritsis,

Sadly, if there is a single non-transparent network component which doesn't handle long-living HTTP responses out-of-the-box, such problems can occur.

In the past I was involved in projects using SSE behind Cloudflare and special buffering configuration was always required. I don't know how it looks right now as I haven't been in any such project lately.

If I would be to gi

[2022-10-21 14:41] andreaskyritsis commented on #54
Hi @tpeczek I manage to overcome the issue by implementing keep alive on Event Source Level, by sending and empty message (or comment) every minute the connections were being kept open for hours. On top of that I can see that now the RAM usage got stable (though a bit high for the amount of clients/traffic). Before I got constantly increasing RAM which was resulting in periodically pod restart. Si

[2022-10-21 20:49] #49 closed

[2022-10-21 21:04] tpeczek commented on #54
Hi @andreaskyritsis,

I'm happy to hear that you've solved your issue.

At the same time, I'm puzzled. The `ServerSentEventsKeepaliveMode.Always` should do exactly what you are describing (by sending comments). I've done some tests and it seems to be working as designed, so my best guess is that some intermediary is skipping the comments while passing the stream further. I base that guess on fact

[2022-10-25 20:26] #46 closed

[2022-10-29 19:44] #52 closed

[2022-11-13 15:50] tpeczek commented on #53
Hi @richbryant,

I'm closing this one. If you will have any follow up details etc., please feel free to reopen.

[2022-11-13 15:50] #53 closed

[2022-11-24 14:25] drittich opened #57 "How to rapidly close SSE connections?"
I'm using SSE in a web application hosted by a Windows Service. I noticed when I stop the service that it takes a long time (I assume due to the SSE connections that are open?) If I remove the SSE code the service will stop immediately.

I have tried running the following code in the `StopAsync` event of the service, but does not seem to make shutdown any faster:
[code]

but it makes no difference